
/* stylelint-disable */

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: linear-gradient(92.44deg, #0FED9D 0.3%, #2174B4 104.57%);
    box-shadow: 11px 12px 15px rgba(60, 92, 111, 0.32);
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 25px 55px;
    border: 0;

    &:hover {
        opacity: 1;
        color: #fff;
        text-decoration: none;
        transform: scale(.98);
        background: linear-gradient(92.44deg, #2174B4 0.3%, #0FED9D 104.57%);
    }
}

.btn-center {
    text-align: center;
}

@media (max-width: 480px) {
    .btn {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
