/* stylelint-disable */

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/geometria-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/geometria-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/geometria-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
