
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        padding-bottom: 145px;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
    }

    &_look {
        background-image: url("../media/section/look.jpg");
        background-position: center center;
    }

    &_order {
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
    }

    &_pay {
        background-color: #E9F7F7;
    }

    &_warning {
        background: linear-gradient(90.64deg, #207FB3 0%, #10E89F 101.39%);
    }

    &_courier {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #F0F0F0;
        background: url("../media/courier/human.png") calc(50% - 260px) top, linear-gradient(90.64deg, #207FB3 0%, #10E89F 101.39%);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_look {
            background-image: url("../media/section/look-1024.jpg");
        }

        &_courier {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_look {
            background-image: url("../media/section/look-768.jpg");
        }

        &_courier {
            padding-top: 60px;
            padding-bottom: 60px;
            background-color: #F0F0F0;
            background: url("../media/courier/human.png") calc(50% - 225px) top, linear-gradient(90.64deg, #207FB3 0%, #10E89F 101.39%);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            background-image: url("../media/section/face-480.jpg");
        }

        &_order {
            background-image: url("../media/section/face-480.jpg");
        }

        &_courier {
            padding-bottom: 300px;
            background-position: center bottom;
            background-color: #F0F0F0;
            background: url("../media/courier/human.png") center bottom / 280px no-repeat, linear-gradient(90.64deg, #207FB3 0%, #10E89F 101.39%);
        }
    }

    .section__title {
        font-size: 30px;
    }
}
