
.contacts {
    position: relative;
}

.contacts__media {
    position: absolute;
    right: 60px;
    bottom: -80px;
}

.contacts__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
}

.contacts__body {
    padding: 120px 60px;
    background: linear-gradient(90.64deg, #207FB3 0%, #10E89F 101.39%);
}

.contacts__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    max-width: 500px;
}

.contacts__description {
    max-width: 500px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 1024px) {
    .contacts__body {
        padding: 60px 50% 60px 30px;
    }

    .contacts__media {
        max-width: 270px;
        right: 30px;
        bottom: -40px;
    }
}

@media (max-width: 768px) {
    .contacts__title {
        margin-bottom: 30px;
    }

    .contacts__body {
        padding: 60px 125px 60px 30px;
    }

    .contacts__media {
        bottom: -30px;
        right: 0;
        max-width: 150px;
    }

    .table__btn {
        font-size: 16px;
        padding: 20px 55px;
    }
}

@media (max-width: 480px) {
    .contacts {
        text-align: center;
    }

    .contacts__body {
        padding: 30px 15px;
        margin-bottom: 200px;
    }

    .contacts__media {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .contacts__title {
        font-size: 36px;
    }
}
